html, body{
	font-family: 'Open Sans', sans-serif;
}

.dataTables_info{
	display: none;
}

.dataTables_paginate{
	display: none;
}

.itemlist-table {
	max-width: 900px;
	margin: 30px 0px 30px 30px;
	padding: 30px 0;
	padding-left: 0;
}
table.custom-item-table {
	border: 1px solid #333;
}
table.custom-item-table thead th, table.custom-item-table thead td {
	padding: 20px 10px;
}
table.custom-item-table thead {
	background-color: #424242;
	color: white;
}
table.custom-item-table tbody tr:nth-child(odd){
	background-color: #E0E0E0;
}


.information-tab {
	max-width: 900px;
	margin-left: 30px;
}
.information-tab > ul > li > a {
	padding: 10px 25px;
	border-radius: 0;
}
.nav-tabs>li.active>a:hover {
	color: black;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border-top: 3px solid #D62D22;
}
.information-tab .tab-pane {
	padding: 20px;
	border: 1px solid #ddd;
	border-top: 0;
}
.information-tab .tab-pane#createHistory {
	padding: 20px 0;
}
.create-form .form-group {
	margin-left: 0;
	margin-right: 0;
}
.create-form .form-group label {
	text-align: left;
}


table#view-table {
	width: 100%;
}